<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-top p-md-3">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarNav">
    <div class="mx-auto"></div>
    <ul class="navbar-nav nav nav-pills">
      <li class="nav-item">
        <a class="nav-link text-white" href="#first">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#second">Second</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#third">Third</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#fourth">Fourth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#fifth">Fifth</a>
      </li>
    </ul>
  </div>
</nav>
<app-banner></app-banner>
<div class="container text-center mt-5 mb-5">
  <div data-bs-spy="scroll" data-offset="100" tabindex="0">
    <div id="first" data-aos="fade-up" data-aos-duration="1000">
      <div class="p-5 border">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
          natus iusto fugit id saepe neque rerum magni laudantium accusantium
          dolorem numquam quasi.
        </p>
      </div>
    </div>

    <div class="test"></div>
    <div id="second" data-aos="fade-down" data-aos-duration="1000">
      <div class="p-5 border">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
          natus iusto fugit id saepe neque rerum magni laudantium accusantium
          dolorem numquam quasi.
        </p>
      </div>
    </div>

    <div class="test"></div>
    <div id="third" data-aos="zoom-in" data-aos-duration="1000">
      <div class="p-5 border">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
          natus iusto fugit id saepe neque rerum magni laudantium accusantium
          dolorem numquam quasi.
        </p>
      </div>
    </div>

    <div class="test"></div>
    <div id="fourth" data-aos="zoom-out" data-aos-duration="1000">
      <div class="p-5 border">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
          natus iusto fugit id saepe neque rerum magni laudantium accusantium
          dolorem numquam quasi.
        </p>
      </div>
    </div>

    <div class="test"></div>
    <div id="fifth" data-aos="flip-left" data-aos-duration="1000">
      <div class="p-5 border">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Necessitatibus veniam ipsa earum quibusdam, atque ipsum error maiores
          natus iusto fugit id saepe neque rerum magni laudantium accusantium
          dolorem numquam quasi.
        </p>
      </div>
    </div>
  </div>
</div>
