<div
  class="banner-image w-100 vh-100 d-flex flex-column justify-content-center align-items-center"
>
  <div class="content text-center">
    <ngx-typed-js
      [strings]="[
        'I\'m Programmer',
        'IOS/Android Developer',
        'Freelancer',
        'Photographer'
      ]"
      [shuffle]="false"
      [typeSpeed]="50"
      [loop]="true"
      [backDelay]="500"
      [smartBackspace]="true"
      [backSpeed]="50"
    >
      <span class="typing text-dark display-3"></span>
    </ngx-typed-js>
  </div>
</div>
